@{
    ViewBag.Title = "About Project";
    Layout = "~/Views/Shared/_NonUser.cshtml";
}

<div class="jumbotron">
    <h1>Student Management System</h1>
    <p class="lead">Student Management;in short SMS, System is a Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            The System is built using ASP.NET Entity Framework with code first Approach.
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>System Modules</h2>
        <p>
            The system provides 5 different modules to hop on. They simple record keeping modules
            and provides update features as well.Get on my github to get free access to source code
        </p>
        <p><a class="btn btn-default" href="https://github.com/alchinibas/SutdentManagement">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Access and Demos</h2>
        <p>
            It's a small single stand project with a small login system for authorization and authenticaiton demo. Follow
            on the link below to get into the system.
        </p>
        <p><a class="btn btn-default" href="~/Users">Learn more &raquo;</a></p>
    </div>
</div>