@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_NonUser.cshtml";
}
<style>
    .vertical-board{
        min-height:460px;
    }
    .vertical-board h3{
        text-align:center;
    }
    .vertical-board h3::after{
        border-bottom:1px solid white;
    }
</style>
<div class="px-0">
    <div class="row">
        <div class="Board col-12 mt-3">
            <div class="d-block p-5 bg-primary" style="min-height:200px;"></div>
        </div>
        <div class="col-12 d-flex mt-3 justify-content-between">
            <div class="col-md-3 vertical-board bg-dark">
                <h3>Documents and Details</h3>
            </div>
            <div class="col-md-5 bg-dark mx-1 vertical-board">
                <h3>School Information</h3>
            </div>
            <div class="col-md-3 bg-dark vertical-board">
                <h3>School Notice</h3>
            </div>
        </div>
        
    </div>
</div>
